﻿@model UptimeAmazon.Models.SearchViewModel

<head>
    <title>Amazon Search</title>
</head>

<body>
    <div id="wrap">
        <div id="searchInput">
            <p>
                <input type="text" name="searchBox" id="searchBox" size="32" placeholder="Insert keywords here" />
                <input id="searchButton" type="button" value="Search" />
            </p>
            <p>
                Display prices in
                <select class="changeCurrency" id="changeCurrency">
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
                    <option value="EUR">EUR</option>
                </select>
            </p>
        </div>
        <table id="searchResults" class="display"></table>
    </div>

</body>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/main")