﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

p {
    margin-top: 0em;
    margin-bottom: 0.2em;
    text-align: center;
}

textarea {
    max-width: 280px;
}

#searchInput {
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

#wrap {
    width: 95%;
    margin: 0 auto;
}
